 
    
    <div class="pt-5" >  
      <div class="global-container">  
        <div class="card login-form">  
        <div class="card-body">  
            <h3 class="card-title text-center"> Admin Page </h3>  
            <div class="card-text">  
                <form>  
                    <div class="form-group">  
                        <label for="exampleInputEmail1"> Username </label>  
                        <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp"  name="username" [(ngModel)]="username">  
                    </div>  
                    <div class="form-group">  
                        <label for="exampleInputPassword1"> Password </label>  
                       
                        <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" name="password" [(ngModel)]="password">  
                    </div>  
                    <button type="submit" class="btn btn-primary btn-block" (click)="checkLogin()"> Sign in </button>  
                      
                   
                </form>  
            </div>  
        </div>  
    </div>  
    </div>  
 
    