
<div class="center" >
    <h1 style="text-align: center;">Localisations enregistrées</h1>&nbsp;
<table class="styled-table">
    <thead>
        <tr>
            <th>Adresse IP</th>
            <th>Port</th>
            <th>OS</th>
            <th>Navigateur</th>
            <th>Nom</th>
            <th>Pays</th>
            <th>Region</th>
            <th>Ville</th>
            <th>Organisation</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Latitude</th>
            <th>Longitude</th> 

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of DATA">
            <td>{{item.ip}}</td>
            <td>{{item.port}}</td>
            <td>{{item.os}}</td>
            <td>{{item.navigator}}</td>
            <td>{{item.nom}}</td>
            <td>{{item.jsonip.split('"')[19]}}</td>
            <td>{{item.jsonip.split('"')[15]}}</td>

            <td>{{item.jsonip.split('"')[11]}}</td>
            <td>{{item.jsonip.split('"')[27]}}</td>
            <td>{{item.zonedDate.split('T')[0]}}</td>

            <td>{{item.zonedDate.split('T')[1].split('.')[0]}}</td>
           
            

            <td >{{item.jsonip.split('"')[23].split(',')[0]}}</td>
            <td>{{item.jsonip.split('"')[23].split(',')[1]}}</td>
            

        </tr>
        <!--tr class="active-row">
            <td>Melissa</td>
            <td>5150</td>
        </tr-->
        <!-- and so on... -->
    </tbody>
</table>
</div>